.hero{
    display: flex;
    padding-inline: 100px;
    justify-content: space-between;
    background-color: black;
    background-image: repeating-linear-gradient(0deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),repeating-linear-gradient(90deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),linear-gradient(90deg, hsl(49,0%,3%),hsl(49,0%,3%));
    height: 90vh;
    gap: 20px;
}
.hero .right{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}
.hero .right img{
    bottom: 0;
    width: 550px;
    height: 550px;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 10px;
}
/* @keyframes moveUp{
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
} */
.hero .left{
    margin-top: 40px;
}
.hero .left .gold{
    color: gold;
    font-size: 18px;
}
.hero .left h1{
    color: white;
    font-size: 65px;
    margin-top: 20px;
}
.hero .left .white{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.hero .btns{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.hero .btns button{
    background: gold;
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
}
.hero .btns button:nth-child(2){
    background: transparent;
    color: white;
}
.hero .btns button:hover:nth-child(2){
    border-bottom: 2px solid white;
}
.hero .btns button:hover:nth-child(1){
    transform: scale(1.1);
}
.hero .btns .play_icon{
    font-size: 25px;
    color: gold;
    margin-left: -180px;
    margin-top: 12px;
}
.clients .imgs{
    display: flex;
    gap: 50px;
}
.clients .imgs img{
    width: 100px;
    height: 50px;
}
.clients{
    height: 100px;
    background: white;
    width: 85%;
    /* margin-left: 70px; */
    margin-top: -40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.clients_detail{
    margin-left: 60px;
    padding-top: 30px;
}