.feedback{
    padding: 5px 85px;
    height: 25vh;
    margin-top: 350px;
}
.feedback h5,
.feedback h3{
    text-align: center;
}
.feedback h5{
    font-size: 20px;
}
.feedback h3{
    font-size: 35px;
    margin-top: 15px;
}
.feedback .customers{
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .feedback .customers .item .rating{
    color: #006b6a;
    font-size: 22px;
} */

/* .feedback .customers .item:hover{
    scale: 1.1;
    border: 2px dashed orangered;
} */

.feedback .customers .item p{
    line-height: 22px;
    font-size: 14px;
}

.feedback .customers .item .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feedback .customers .item .user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;
}

.feedback .customers .item .user p{
    font-size: 12px;
}
.feedback .customers .comment h2{
    color: gold;
}